<div id="<%= dom_id review %>">
  <p>
    <strong>Movie:</strong>
    <%= @movie.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.name %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= review.stars %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

</div>
